<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{todo.name}}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{todo.name}}</h1>
        {% comment %} <div><a href="{% url 'todo_list' %}">Return To All Lists</a></div> {% endcomment %}
        <p><a href="{% url 'todo_update' todo.pk %}">Edit</a></p>
        <p><a href="{% url 'todo_delete' todo.pk %}">Delete</a></p>
        <br /><br />
      </div>

      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for task in todo.items.all %}
            <td><a href="{% url 'todoitem_update' task.pk %}">{{task.task}}</a></td>
            <td>{{task.due_date|date:"DATE_FORMAT"}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
